@import '../colors.css';
@import '../variables.css';

:root {
  --dropdown-text-color: var(--palette-bluewood-lighter);
  --dropdown-border-color: #E5E5E5; /* @todo use variable (correct color not available yet) */
  --dropdown-border-size: calc(.2 * var(--unit));
  --dropdown-font-size: calc(1.6 * var(--unit)); /* @todo use font-size variable from variables.css? 16px doesn't exist yet */

  --dropdown-button-color: var(--palette-bluewood-lighter);
  --dropdown-button-arrow-width: calc(3.4 * var(--unit));
  --dropdown-button-arrow-background: var(--palette-grey-100);
  --dropdown-button-arrow-icon-font-size: calc(1.6 * var(--unit));

  --dropdown-input-border-radius: calc(.4 * var(--unit));
  --dropdown-input-margin: var(--unit);
  --dropdown-input-placeholder-color: var(--palette-grey-500);
  --dropdown-input-color: var(--palette-bluewood-lighter);
  --dropdown-input-focused-color: var(--palette-bluewood);
  --dropdown-input-focused-border-color: #979797; /* @todo use variable (correct color not available yet) */

  --dropdown-list-shadow: 0 30px 40px 0 rgba(70,86,104,.3);
  --dropdown-list-item-padding: calc(1.5 * var(--unit));
  --dropdown-list-item-selected-background: var(--palette-grey-100);
  --dropdown-list-item-image-size: calc(3.2 * var(--unit));
  --dropdown-list-item-image-margin: var(--unit);
  --dropdown-list-item-subtitle-color: #979797; /* @todo use variable (correct color not available yet) */
  --dropdown-list-item-subtitle-font-size: var(--font-size-small);

  --dropdown-list-action-padding: calc(1.5 * var(--unit));
  --dropdown-list-action-font-size: var(--font-size-small);
  --dropdown-list-action-color: var(--palette-blue-lighter);
  --dropdown-list-action-background-color: var(--color-white);
  --dropdown-list-action-background-hover-color: var(--dropdown-list-item-selected-background);
}

.container {
  color: var(--dropdown-text-color);
  font-size: var(--dropdown-font-size);
  position: relative;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: .5em .55em;
  border: var(--dropdown-border-size) solid var(--dropdown-border-color);
  border-radius: var(--dropdown-input-border-radius);
  font-size: 1em;
  color: var(--dropdown-button-color);
  cursor: pointer;
  user-select: none;
  position: relative;

  .arrow {
    display: flex;
    width: var(--dropdown-button-arrow-width);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--dropdown-button-arrow-background);
    border-left: var(--dropdown-border-size) solid var(--dropdown-border-color);
    text-align: center;
    flex-direction: column;
    justify-content: center;

    .icon {
      font-size: var(--dropdown-button-arrow-icon-font-size);
    }
  }
}

.dropdown {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  background: var(--color-white);
  border: var(--dropdown-border-size) solid var(--dropdown-border-color);
  box-shadow: var(--dropdown-list-shadow);
  margin-top: calc((-1 * var(--dropdown-input-border-radius)) + var(--dropdown-border-size));
  z-index: 10; /* @todo use z-index variables? */
}

.input-container {
  padding: var(--dropdown-input-margin);
  border-bottom: 1px solid var(--dropdown-border-color);
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: .5em .55em;
  border: var(--dropdown-border-size) solid var(--dropdown-border-color);
  border-radius: var(--dropdown-input-border-radius);
  font-size: 1em;
  color: var(--dropdown-input-color);

  &:focus {
    outline: none;
    color: var(--dropdown-input-focused-color);
    border-color: var(--dropdown-input-focused-border-color);
  }
}

.list-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid var(--dropdown-border-color);
  padding: var(--dropdown-list-item-padding);
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  .image {
    display: block;
    width: var(--dropdown-list-item-image-size);
    height: var(--dropdown-list-item-image-size);
    border-radius: var(--dropdown-list-item-image-size);
    overflow: hidden;
    margin-right: var(--dropdown-list-item-image-margin);

    img {
      width: 100%;
    }
  }

  .label {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .title {
    flex: 1;
  }

  .subtitle {
    flex: 1;
    color: var(--dropdown-list-item-subtitle-color);
    font-size: var(--dropdown-list-item-subtitle-font-size);
  }

  &:hover,
  &.selected {
    background: var(--dropdown-list-item-selected-background);
  }

  &.empty {
    cursor: default;
    pointer-events: none;
  }
}

.action {
  padding: var(--dropdown-list-action-padding);
  background: var(--dropdown-list-action-background-color);
  border-top: 1px solid var(--dropdown-border-color);
  color: var(--dropdown-list-action-color);
  font-size: var(--dropdown-list-action-font-size);
  cursor: pointer;


  &:hover {
    background: var(--dropdown-list-action-background-hover-color);
  }
}
